<footer>
		<h2>Contact</h2>
		<div>
			<figure class="social">
					<a href="https://www.facebook.com/TH-Cinema-108764290731934/"><img src="../images/facebook.png" alt="facebook logo" title="fb"></a>
			</figure>
			<figure class="social">
					<a href="https://www.instagram.com/th.cinema/"><img src="../images/instagram.png" alt="instragam logo" title="insta"></a>
			</figure>
		</div>
		<div>
			<figure class="contact">
					<a href="mailto:contact@thcinema.ro" target="_top"> <img src="../images/email.png" alt="email logo" title="mail"> </a>
					<figcaption> contact@thcinema.ro </figcaption>
			</figure>
			
			<figure class="contact">
					<img src="../images/phone.png" alt="phone logo" title="phone">
					<figcaption>0215079800</figcaption>
			</figure>
		</div>	
		<div>
			<figure>
					<img src="../images/address.png" alt="location logo" title="location">
					<figcaption><address>Bucuresti, sector 1, Strada Filmelor, nr. 1. </address></figcaption>
			</figure>
		</div>
		
		<div class="top"><a href="#" class="buton">^</a></div>
</footer>