<!DOCTYPE html>
<html lang = "ro">
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="../images/./favicon.ico"/>
		<title> TH Cinema - Home</title>
		<meta charset="UTF-8">
		<meta name="description" content="TH Cinema din Bucuresti, sector 1, Strada Filmelor, nr. 1">
		<meta name="keywords" content="cinema, cinematograf, film, acum in cinema, in curand, filme">
		<meta name="author" content="Tudorache Theodor">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/styles/index.css" type="text/css" />
	</head>
	<body>
		<%- include('../fragmente/header') %>

		<main>
			<div class = "copertina">
				<img src="/images/stanga.png" alt="stanga" title="" id = "cop1">
				<img src="/images/dreapta.png" alt="dreapta" title="" id = "cop2">
				<img src="/images/popcorn.png" alt="mijloc" title="" id = "pop">
			</div>
		</main>
		<%- include('../fragmente/footer') %>	
		
	</body>
</html>