			html {
			font-family: verdana;
			}
			
			/*meniu*/
		
			
			.menu {
				list-style-type: none;
				margin-left: 5vw;
				margin-right: 5vw;
				margin-bottom: 0px;
				padding-top: 5px;
				padding-bottom: 5px;
				padding-left: 0px;
				padding-right: 0px;
				overflow: hidden;
				background-color: #333;
			}

			.menu>li{
				border-style: solid;
				border-color: #595959;
				border-width: 1px;
				margin-left: 20px;
				margin-top: 5px;
				margin-bottom: 5px;
				float: left;
			}
			
			.menu ul{
				list-style-type: none;
				padding: 0px;
			}
			
			.menu>li a, .dropbtn {
				display: block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}
			
			.menu>li a:hover, .dropdown:hover .dropbtn {
				background-color: #111;
			}
			
			.dropdown {
				/*position: relative;*/
				display: inline-block;
			}

			.continut {
				display: none;
				position: absolute;
				background-color: #333;
				min-width: 160px;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}
			
			.continut li{
				padding: 0px;
				text-decoration: none;
			}
			
			.continut li a{
				color: white;
				padding: 8% 15%;
				text-decoration: none;
				display: block;
				text-align: center;
			}

			.dropdown:hover .continut {
				display: block;
			}
			
			@media screen and (max-width:1000px)
			{
				.menu {
					margin-left: 0px;
					margin-right: 0px;
					margin-bottom: 0px;
				}
			}
			
			@media screen and (min-width:471px) and (max-width:550px)
			{
				.menu li:nth-of-type(1){
					margin-left: 75px;
				}
				.menu li:nth-of-type(2){
					margin-right: 100px;
				}
				.menu li:nth-of-type(3){
					margin-left: 75px;
				}
			}
			
			@media screen and (min-width:396px) and (max-width:470px)
			{
				.menu li:nth-of-type(1){
					margin-left: 50px;
				}
				.menu li:nth-of-type(2){
					margin-right: 100px;
				}
				.menu li:nth-of-type(3){
					margin-left: 50px;
				}
			}
			
			@media screen and (min-width:301px) and (max-width:395px)
			{
				.menu li:nth-of-type(2){
					margin-right: 25px;
				}
			}
			
			@media screen and (max-width:300px)
			{
				.menu>li{
					margin-right: 50px;
					margin-left: 50px;
				}
			}
			
			div#eroare{
				color: red;	
			}
			
			.menu .login-container
			{
				float: right;
				margin-top: 10px;
			}
			
			.menu input[type=text] {
				display: inline-block;
				padding: 10px;
				font-size: 17px;
				border: none;
				width: 10vw;
				background-color: #ddd;
			}
			
			.menu input[type=password] {
				display: inline-block;
				padding: 10px;
				font-size: 17px;
				border: none;
				width: 10vw;
				background-color: #ddd;
			}
			
			.menu .login-container button {
				display: inline-block;
				float: right;
				padding: 10px;
				margin-right: 10px;
				margin-left: 10px;
				background: #ddd;
				font-size: 17px;
				border: none;
				cursor: pointer;
			}
			
			.login-container>div {
				text-align: center;
			}
			
			.login-container>div>a {
				text-decoration: underline;
				color: #ddd;
				padding-right: 7%;
			}
			
			.logat{
				float: right;
				display: block;
				color: #ddd;
				padding-right: 2%;
				text-align: center;
			}
			
			.logat>a{
				text-decoration: underline;
				color: #ddd;
			}
			
			/* /meniu */
			
			/*titluri*/
			
			h1{
				text-align: center;
				font-size: 40px;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
				color: red;
			}
			
			h2{
				color: red;
				text-align: center;
			}
			
			h3{
				text-align: center;
			}
			
			
			
			/* /titluri*/
			
			
			hr {
				width: 90%;
			}
			
			/*footer*/

			footer {
				text-align: center;
			}
			
			footer h2{
				color:black;
				font-size: 20px;
			}
			
			footer div:nth-of-type(1) {
				display:flex;
				align-items: center;
				justify-content: center;
			}
			
			footer div:nth-of-type(2) {
				display:flex;
				align-items: center;
				justify-content: center;
			}
			
			footer figure img{
				width: 45px;
				height: 45px;
			}
			
			footer figure.social{
				margin: 15px;
			}
			
			footer figure.contact{
				margin: 5px;
			}
			
			footer div:nth-of-type(2){
				margin-right:2%;
			}
			
			
			/* /footer */
			
			/* buton top*/
			.top {
				text-align: right;
			}
			
			.buton {
				background-color: red;
				border: none;
				color: white;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 25px;
				margin: 4px 2px;
				cursor: pointer;
			}
			
			.buton:hover{
				background-color: #d61e1e;
			}
			
			@media screen and (min-width:0px) and (max-width:750px)
			{
				footer .buton {
				padding: 10px 15px;
				font-size: 10px;
				}
			}

			/* /buton top*/
			
			/* formular*/
			form {
				text-align: center;
			}
			
			form label{
				font-size: 30px;
			}
			
			.casuta{
				width: 25%;
				height: 50px;
				font-size: 30px;
			}
			
			@media screen and (max-width:500px)
			{
				form label{
					font-size: 25px;
				}
			}
			
			@media screen and (min-width:1001px) and (max-width:1250px) {
				.casuta{
					width: 30%;
					height: 40px;
					font-size: 25px;
				}
			}
			
			@media screen and (min-width:701px) and (max-width:1000px) {
				.casuta{
					width: 40%;
					height: 35px;
					font-size: 25px;
				}
			}
			
			@media screen and (min-width:450px) and (max-width:700px) {
				.casuta{
					width: 60%;
					height: 30px;
					font-size: 20px;
				}
			}
			
			@media screen and (min-width:0px) and (max-width:450px) {
				.casuta{
					width: 75%;
					height: 30px;
					font-size: 20px;
				}
			}
			/* /formular*/
			
			main p{
				text-align: center;
			}
			
			